html
  head
    title Gestor de ofertas
    link(rel="stylesheet", href="/css/style.css")
  body
    include ./headerAdmin

    main
        h1 Gestor de ofertas

        .form-card
            h2 Crear nueva oferta
            form(method="POST", action="/api/ads", class="offer-form")
                label(for="title") Título de la oferta:
                input(type="text", name="title", required)

                label(for="company") Empresa:
                input(type="text", name="company", required)

                label(for="description") Descripción del puesto: 
                input(type="text", name="description", required)

                label(for="city") Ciudad: 
                input(type="text", name="city", required)

                label(for="salary") Salario: 
                input(type="number", name="salary", required)

                button.button(type="submit", class="button") Crear oferta
//-
        h2 Ofertas publicadas
        .offers-card
            each offer in offers
                .offer-card
                    h2= offer.title
                    p Empresa: #{offer.company}
                    p Ciudad: #{offer.city}
                    p Salario: #{offer.salary}
    include ./footer