html
  head
    title Mis Favoritos
    link(rel="stylesheet", href="/css/style.css")

  body
    include ./headerUser

    main 
      h1 Mis favoritos 

      if offers.length === 0
        p Aún no tienes ofertas guardadas

    include ./footer
