footer
    nav.footer-nav
        ul 
            li
                a(href="https://thebridge.tech") Visítanos
            li
                a(href="https://es.wikipedia.org/wiki/Pug") Más sobre nosotros 
            li
                a(href="https://www.boe.es/buscar/doc.php?id=BOE-A-2023-7936") Blog
    p @copyright 2025 - Todos los derechos reservados