footer
    nav.footer-nav
        ul 
            li
                a(href="https://www.linkedin.com/in/alberto-diez1109/") Alberto Diez
            li
                a(href="https://www.linkedin.com/in/ignaciotalvi/") Ignacio Talvi
            li
                a(href="https://www.linkedin.com/in/mario-l%C3%B3pez-clavero-26608b126/") Mario López
            li
                a(href="https://www.linkedin.com/in/pablo-bacigalupe/") Pablo Bacigalupe
    p @copyright 2025 - Todos los derechos reservados