nav.menu
  input#menu-toggle(type="checkbox")
  label.menu-icon(for="menu-toggle")
    span
    span
    span

  ul.menu-items
    li
      a(href="/") Home
    li
        a(href="/profile") Mi perfil