html
  head
    title Panel de control
    link(rel="stylesheet", href="/css/style.css")
  body
    include ./headerAdmin

    main
      h1 Panel de control de administrador

      .buttons-container
        a.button(href="/admin/users") Gestionar usuarios
        a.button(href="/admin/dashboard") Gestionar anuncios

    include ./footer

  





