html
  head
    title Restaurar contraseña
    link(rel="stylesheet", href="/css/style.css")
  body
    include ./headerAdmin

    main
        h1 Crea una nueva contraseña

        form(action="/restorepassword" method="POST" class="form-card")
            label(for="new_password") Escribe tu nueva contraseña: 
            input(type="password" name="new_password" required)

            label(for="confirm_password") Confirma tu nueva contraseña: 
            input(type="password" name="confirm_password" required)

            button.button(type="submit") Actualizar contraseña

    include ./footer